@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Nunito', sans-serif;
	background-color: rgb(255, 255, 255);
}
img{
	width:100%;
}

.root_app{
   width: 55px;
}
.store{
   height: 51px;
   width: 140px;
   border-radius: 6px;
   margin-bottom: 100px;
   margin-right: 8px;
}
.play{
   height: 51px;
   width: 140px;
   border-radius: 6px;
   margin-bottom: 100px;
}
.nkar{
   background-image: url(images/fon_fon_1.jpg);
   background-size: cover;
   height: 470px;
   position: relative;
}
.root{
   position: absolute;
   margin-top: 80px;
   margin-left: 250px;
   height: 350px;
   width: 470px;
   display: flex;
   flex-direction: column; 
   justify-content: space-between;
   align-items: center;
}
.title{
   color: white;
   margin-top: 15px;
   margin-bottom: -40px;
   font-weight: 900;
}
.desc {
   color: white;
   margin-top: 45px;
   margin-bottom: 5px;
   text-align: center;
   line-height: 21px;
}
.r{
   width: 30px;

}
.arajin_blok{
   position: absolute;
   width: 520px;
   height: 200px; 
   margin-left: 150px;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.nerqev{
   position: relative;
}
.erkrord_blok{
   display: flex;
   justify-content: space-between;
   width: 370px;
   height: 200px;
   margin-left: 800px;
   margin-top: 25px;
}
.ma ul li{
   line-height: 30px;
}
.ma ul{
   padding-top: 55px;
}
.hr ul li{
   line-height: 30px;
}
.hr ul{
   padding-top: 55px;
}
.r_text{
    color: grey;
}
ul li a{
   text-decoration: none;
   color: #000;
   font-weight: 800;
   font-size: 15px;
   padding: 10px;
   transition: color .25s ease;
}
ul li a:hover{
	color: grey;
}